@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --container-padding: 6vw;
    --section-padding: clamp(5em, 21vh, 12em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
    --dark: '#1C1D20';
    --background-color: var(--color-dark);
    color-scheme: only dark;
    --blue: '#455CE9';
    --color-dark: #1c1d20;
    --color-dark-dark: #141517;
    --color-light: #1c1d20;
    --color-blue: #455ce9;
    --color-blue-dark: #334bd3;
    --color-gray: #999d9e;
    --color-lightgray: #e9eaeb;
    --color-white: #ffffff;
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-solid: #d2d2d2;
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid-light: #545557;
    --color-text: #1c1d20;
    --color-text-light: #fff;
    --alert-error: #ff4444;
    --alert-success: #24c958;
    --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
    --vh: 8.44px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  @media screen and (max-width: 540px) {
    :root {
      --color-border: rgba(28, 29, 32, 0.225);
      --color-border-light: rgba(255, 255, 255, 0.225);
      --container-padding: clamp(1.25em, 4vw, 2.5em);
      --section-padding: max(2.5em, 12vh);
    }
  }

  body {
    overflow: hidden;
  }

  body::-webkit-scrollbar {
    scrollbar-width: thin;
    background-color: #141516;
    color: #948d82;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #3c3f41;
  }

  /* body {
    scrollbar-width: thin;
  } */

  h2 {
    font-size: calc(clamp(3.25em, 7vw, 8em) * 0.875);
  }

  * {
    @apply border-border;
  }

  h1 {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-white);
    line-height: 1;
    font-size: 17.5vw;
    font-size: max(9em, 15vw);
    white-space: nowrap;
    pointer-events: none;
    margin: 0;
    padding: 0;
  }

  span {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 450;
    letter-spacing: normal;
  }
  div {
    display: block;
    unicode-bidi: isolate;
  }
  p {
    color: white;
  }
  h5 {
    color: white;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: '#1C1D20';
  }

  body {
    font-family: 'Satoshi';
  }
}

@layer utilities {
  .medium {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
  }

  .no-padding {
    padding-left: unset;
    padding-right: unset;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .flex-colf {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
  }

  @media screen and (max-width: 1024px) {
    .flex-colf {
      @apply flex-col flex;
    }
  }

  .phone-btn {
    margin-right: 0.5em;
  }

  .btn-fixed {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .btn-round-footer {
    width: clamp(9em, 12vw, 11em);
    height: clamp(9em, 12vw, 11em);
    border-radius: 50%;
    border: 0;
    background: var(--color-dark);
  }

  @media screen and (max-width: 400px) {
    .btn-round-footer {
      width: clamp(7em, 10vw, 11em);
      height: clamp(7em, 10vw, 11em);
      border-radius: 50%;
      border: 0;
      background: var(--color-dark);
    }
  }

  .btn-click {
    cursor: pointer;
    color: var(--primary-dark);
    background: transparent;
    border-radius: 2.125em;
    min-width: 1em;
    height: 4.25em;
    padding: 0;
    font-size: 1em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    will-change: transform;
    transform: translateZ(0) rotate(0.001deg);
  }

  .btn-normal,
  .btn-click {
    -webkit-box-shadow: inset 0px 0px 0px 1px var(--color-border);
    box-shadow: inset 0px 0px 0px 1px var(--color-border);
  }

  .btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2.5em;
    z-index: 2;
    /* color: var(--color-dark); */
    position: relative;
    transform: rotate(0.001deg);
    pointer-events: none;
  }

  .bottom-footer {
    padding: calc(var(--section-padding) / 1.3) calc(var(--gap-padding) / 1.33)
      calc(var(--gap-padding) / 1.75) calc(var(--gap-padding) / 1);
    flex-direction: row;
    justify-content: space-between;
  }

  .flatbtn-outer {
    @apply mb-0 inline-flex mr-2;
  }

  @media screen and (max-width: 540px) {
    .flatbtn-outer {
      /* mr-2 mb-0 flex  */
      @apply mr-2 mb-0 w-full;
    }
  }

  .flatbtn-inner {
    @apply border-2 border-white;
  }

  .roundbtn {
    @apply mb-0 m-0 z-20 border-0 outline-0 btn-round-footer flex items-center justify-center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-gradient {
    pointer-events: none;
    height: calc(var(--section-padding) * 0.25);
    background: linear-gradient(
      to bottom,
      hsla(225, 7%, 12%) 0%,
      hsla(225, 7%, 12%, 0.987) 8.1%,
      hsla(225, 7%, 12%, 0.951) 15.5%,
      hsla(225, 7%, 12%, 0.896) 22.5%,
      hsla(225, 7%, 12%, 0.825) 29%,
      hsla(225, 7%, 12%, 0.741) 35.3%,
      hsla(225, 7%, 12%, 0.648) 41.2%,
      hsla(225, 7%, 12%, 0.55) 47.1%,
      hsla(225, 7%, 12%, 0.45) 52.9%,
      hsla(225, 7%, 12%, 0.352) 58.8%,
      hsla(225, 7%, 12%, 0.259) 64.7%,
      hsla(225, 7%, 12%, 0.175) 71%,
      hsla(225, 7%, 12%, 0.104) 77.5%,
      hsla(225, 7%, 12%, 0.049) 84.5%,
      hsla(225, 7%, 12%, 0.013) 91.9%,
      hsla(225, 7%, 12%, 0) 100%
    );
    opacity: 0.75;
  }

  .text-white-gradient {
    @apply bg-white-gradient bg-clip-text text-transparent;
  }

  .section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
  }

  @media screen and (max-width: 540px) {
    .section {
      padding-top: calc(var(--section-padding) * 0.1);
      padding-bottom: var(--section-padding);
      position: relative;
    }
  }

  .animated-js,
  .text-gradient,
  .char,
  .minichar {
    will-change: transform;
    background-image: radial-gradient(
        66.11% 66.11% at 50% 33.89%,
        hsla(0, 0%, 100%, 0.4) 0,
        hsla(0, 0%, 100%, 0) 100%
      ),
      linear-gradient(
        278.88deg,
        #fff,
        #66e3ff 28.83%,
        #a787ff 56.31%,
        #ffc875 86.49%
      );

    background-clip: 'text';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .animated-js {
    background-size: 200% 200%;
    animation: animated-js 10s ease infinite;
  }

  @keyframes animated-js {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    to {
      background-position: 0 50%;
    }
  }

  .char {
    /* position: absolute; */
    font-size: 14vw;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
  }

  .minichar {
    position: absolute;
    font-size: 10vw;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
  }

  a {
    color: #3e3e3d;
    text-decoration: none;
  }
}
